* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    padding-top: 30px;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    height: 60px;
  }
  .content #about-logo {
    height: 40px;
    margin: 0 20px;
  
  }

  
  #about-logo svg{
    cursor: pointer;
    padding: 10px;
    fill: black;
  }

.about {
    position:   absolute;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;   
    
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }


  .spacer {
    flex: 5;
    padding: 20px;
  }
  
