* {
    margin: 0;
  }
  .content {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    justify-items: center;

  }
  .logo {

    margin: 0 1vh;
   
    cursor: pointer;
    
    fill: black;
    
  }

  .about {
    grid-area: 1 / 3 / 2 / 4;
    padding-left: 10px;
    display: flex;
    margin-right: 4vh;
    justify-self: end;

  }
  
  .footer {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  ////////////// Responive design

  @media (max-width: 768px) {
    footer {
      display: none;
    }
  }


  
