* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .content {
    padding-top: 15px;
    position: fixed;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    height: 70px;
  }
  .content #instagram-logo,
  .content #facebook-logo,
  .content #configuration-log,
  .content #about-logo {
    height: 4vh;
    margin: 0 1vh;
    padding-bottom: 2vh;
    cursor: pointer;
    fill: black;
  }




  .about {
    position:   absolute;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;   
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .spacer {
    flex: 5;
    padding: 20px;
  }
  
