<div class="container">
  <div class="recipe">
    <button *ngIf="isUserCreateRecipe" class="recipe_delete" (click)="openWarningModal()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <h1 class="title" appFirstWord>{{ converter.getFormattedRecipeName(recipe.recipeName) }}</h1>
    <article class="recipe_information">
      <section class="recipe_information--card">
        <section class="recipe_information--card--time-price">
          <p>
            <span>Cook Time:</span>
            {{ converter.timeString(recipe.cookTime) }}
          </p>
          <p>
            <span>Total Time:</span>
            {{ converter.calculateTotalTime(recipe) }}
          </p>
          <p>
            <fa-icon [icon]="faPlusMinus" size="sm"></fa-icon>
            : {{ recipe.price }}€
          </p>
        </section>
        <section class="recipe_information--card--description">
          <p>{{ recipe.description }}</p>
        </section>
      </section>
      <img [src]="recipe.imageUrl" alt="Recipe Image" class="recipe_information--img" />
    </article>
    <section class="recipe_origin">
      <h4 class="recipe_origin--back">{{ recipe.category.categoryName }}</h4>
      <h4 class="recipe_origin--back">Country: {{ recipe.country.countryName }}</h4>
    </section>

    <article class="recipe_details">
      <section class="recipe_details--steps">
        <h2>Steps:</h2>
        <ol>
          <li *ngFor="let step of recipe.steps">{{ step.stepDescription }}</li>
        </ol>
      </section>
      <section class="recipe_details--ingredients">
        <h2>Ingredients:</h2>
        <ul>
          <li *ngFor="let ingredient of recipe.ingredientRecipes">
            {{ ingredient.ingredient.ingredientName }} : {{ ingredient.quantity }}
          </li>
        </ul>
      </section>
    </article>
    <article class="recipe_comments">
      <section class="recipe_comments--send">
        <div class="recipe_comments--ratings">
          <fa-icon
            *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
            (mousemove)="setTempRating(i + 1, $event)"
            (mouseleave)="resetTempRating()"
            (click)="setRating(i + 1, $event)"
            [icon]="getStarType(i + 1)"
            class="recipe_comments--star"
          ></fa-icon>
        </div>

        <div class="recipe_comments--send--flex">
          <textarea
            name="comment"
            id="comment"
            cols="30"
            rows="10"
            [(ngModel)]="commentText"
            (input)="isCommentTooShort = false"
          ></textarea>
          <br />
          <button (click)="addComment(recipe.id, commentText)">Here We Go!</button>
          <div *ngIf="isCommentTooShort" class="error-message">Your comment must be at least 5 characters long.</div>
        </div>
      </section>
      <section class="recipe_comments--msg" *ngIf="recipe.reviews.length > 0">
        <div *ngFor="let comment of recipe.reviews">
          <div>
            <div class="recipe_comments--ratings">
              <fa-icon
                *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                [icon]="getStarTypeForComment(i + 1, comment.rating)"
                class="recipe_comments--score"
              ></fa-icon>
              <p class="recipe_comments--user">{{ comment.user.firstname }}</p>
            </div>
          </div>
          <p class="recipe_comments--text">
            {{ comment.comment }}
          </p>
        </div>
      </section>

      <span *ngIf="recipe.reviews.length === 0">No comments</span>
    </article>

    <button [ngClass]="{ 'recipe_fav--active': favorite }" class="recipe_fav" (click)="addFavorite(recipe.id)">
      <fa-icon [icon]="faStarSolid" *ngIf="favorite"></fa-icon>
      <fa-icon [icon]="faStar" *ngIf="!favorite"></fa-icon>
    </button>
  </div>
</div>
