<p>about works!</p>
<div class="page-content">
  <h1>About</h1>
  <p>
    Task Killer is a killer todo app helping you get all of your doing needs done. Our project was created during our
    time studying Angular with the Wild Code School in Lille France. Feel free to contact us and visit our
    LinkedIn/GitHUB pages. Have a great day!
  </p>
</div>
<div class="cards">
  <div class="tyler-card">
    <img src="/assets/tyler.jpeg" alt="tyler" width="300px" />
    <div class="profile">
      <div class="text">
        <h2>Tyler Durnion</h2>
        <h4>Web Developer</h4>
      </div>
      <div class="links">
        <a href="https://github.com/td6904" target="_blank"><img src="/assets/git.svg" alt="git" /></a>
        <a href="https://www.linkedin.com/in/tylerdurnion/" target="_blank">
          <img src="/assets/li.svg" alt="linked" />
        </a>
      </div>
    </div>
  </div>
  <div class="arturo-card">
    <img src="/assets/arturo.jpeg" alt="arturo" width="300px" />
    <div class="profile">
      <div class="text">
        <h2>Arturo Pimental</h2>
        <h4>Web Developer</h4>
      </div>
      <div class="links">
        <a href="https://github.com/ArPimentel" target="_blank"><img src="/assets/git.svg" alt="git" /></a>
        <a href="https://www.linkedin.com/in/arturo-pimentel-developpeur-web/" target="_blank">
          <img src="/assets/li.svg" alt="linked" />
        </a>
      </div>
    </div>
  </div>
</div>
