<div class="modal">
  <div class="modal-content">
    <form class="form">
      <h2>Changes password Pa</h2>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required />
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="button" (click)="onResetSubmit()">Create Profile</button>
      <button (click)="onClose()">Close</button>
    </form>
  </div>
</div>
