<header>
  <div class="chefs-compass">
    <a href="/"><img class="nav-logo" src="/assets/main-logo.svg" alt="nav-logo" /></a>
    <p class="slogan">Global flavours from your kitchen</p>
  </div>

  <!-- Search module commented out until able to search, waiting to be implemented -->

  <!-- <div class="search-module">
    <input type="text" placeholder="Dishes..." />
    <button type="submit"><img src="/assets/mag-glass.png" /></button>
    <div class="mini-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div> -->

  <nav class="button-menu">
    <ul>
      <li>
        <link />
        <img src="/assets/community-button.png" alt="nav-logo" />
        <p>Community</p>
      </li>
      <li>
        <link />
        <img src="/assets/favorite-button.png" alt="nav-logo" />
        <p>Favourites</p>
      </li>
      <li>
        <link />
        <img src="/assets/add-button.png" alt="nav-logo" />
        <p>Add Recipes</p>
      </li>
      <li>
        <link />
        <img src="/assets/recipes-button.png" alt="nav-logo" />
        <p>All Recipes</p>
      </li>
    </ul>
  </nav>
</header>
