nav {
    background-color: var(--primary-color);
    height: 90px;
    display: flex;
}

.nav-logo {
    position: relative;
    padding-left: 22px;
}

.slogan {
    color: var(--secondardy-text-color);
    position: relative;
    top: 20px;
}

.button-menu {
    display: flex;
    position: absolute;
    right: 0px;
    top: 8px;
    align-items: center;
}

