<nav>
  <div class="chefs-compass">
    <img class="nav-logo" src="/assets/main-logo.png" alt="nav-logo" />
    <p class="slogan">Global flavours from your kitchen</p>
  </div>
    <div class="search-module">
      <input type="text" placeholder="Dishes...">
      <button type="submit"><img src="/assets/mag-glass.png"></button>
    </div>
    <div class="button-menu">
      <img src="/assets/community-button.png" alt="nav-logo" />
      <img src="/assets/favorite-button.png" alt="nav-logo" />
      <img src="/assets/add-button.png" alt="nav-logo" />
      <img src="/assets/recipes-button.png" alt="nav-logo" />
    </div>
  </nav>
  