<div class="allrecipes-container">
  <h2 class="allrecipes-title">Dish</h2>
  <div class="allrecipes-cards" #carouselContainer>
    <div class="recipe-card" *ngFor="let recipe of dishRecipes">
      <img class="recipe-image" [src]="recipe.imgUrl" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.recipe_name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cook_time }}</p>
      <p class="recipe-origin">Origin: {{ recipe.country_of_origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>

<div class="allrecipes-container">
  <h2 class="allrecipes-title">Desserts</h2>
  <div class="allrecipes-cards" #carouselContainer>
    <div class="recipe-card" *ngFor="let recipe of dessertRecipes">
      <img class="recipe-image" [src]="recipe.imgUrl" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.recipe_name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cook_time }}</p>
      <p class="recipe-origin">Origin: {{ recipe.country_of_origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>

<div class="allrecipes-container">
  <h2 class="allrecipes-title">Starters</h2>
  <div class="allrecipes-cards" #carouselContainer>
    <div class="recipe-card" *ngFor="let recipe of starterRecipes">
      <img class="recipe-image" [src]="recipe.imgUrl" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.recipe_name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cook_time }}</p>
      <p class="recipe-origin">Origin: {{ recipe.country_of_origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>

<div class="allrecipes-container">
  <h2 class="allrecipes-title">Apéritifs</h2>
  <div class="allrecipes-cards" #carouselContainer>
    <div class="recipe-card" *ngFor="let recipe of aperitifRecipes">
      <img class="recipe-image" [src]="recipe.imgUrl" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.recipe_name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cook_time }}</p>
      <p class="recipe-origin">Origin: {{ recipe.country_of_origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>
