<div class="allrecipes-container">
  <h2 class="allrecipes-title">Dish</h2>
  <div class="allrecipes-cards">
    <div class="recipe-card" *ngFor="let recipe of dishRecipes">
      <img [src]="'assets/' + recipe.photo" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cookingTime }}</p>
      <p class="recipe-origin">Origin: {{ recipe.origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>

<div class="allrecipes-container">
  <h2 class="allrecipes-title">Desserts</h2>
  <div class="allrecipes-cards">
    <div class="recipe-card" *ngFor="let recipe of dessertRecipes">
      <img [src]="'assets/' + recipe.photo" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cookingTime }}</p>
      <p class="recipe-origin">Origin: {{ recipe.origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>

<div class="allrecipes-container">
  <h2 class="allrecipes-title">Starters</h2>
  <div class="allrecipes-cards">
    <div class="recipe-card" *ngFor="let recipe of starterRecipes">
      <img [src]="'assets/' + recipe.photo" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cookingTime }}</p>
      <p class="recipe-origin">Origin: {{ recipe.origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>

<div class="allrecipes-container">
  <h2 class="allrecipes-title">Apéritifs</h2>
  <div class="allrecipes-cards">
    <div class="recipe-card" *ngFor="let recipe of aperitifRecipes">
      <img [src]="'assets/' + recipe.photo" alt="Recipe Image" />
      <h3 class="recipe-name">{{ recipe.name }}</h3>
      <p class="recipe-cooking-time">Cooking Time: {{ recipe.cookingTime }}</p>
      <p class="recipe-origin">Origin: {{ recipe.origin }}</p>
      <p class="recipe-budget">Budget: {{ recipe.budget }}</p>
    </div>
  </div>
</div>
