<div class="modal">
  <div class="modal-content">
    <form class="form" *ngIf="!showRegisterForm">
      <h2>Create Profile</h2>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" [(ngModel)]="userForm.firstname" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="userForm.email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="userForm.password" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="userForm.confirmPassword"
          required
        />
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="button" (click)="onRegisterSubmit()">Create Profile</button>
      <button (click)="onClose()">Close</button>
    </form>
    <div *ngIf="showRegisterForm">
      <button (click)="onForgotPassword()">Mot de passe oublié ?</button>
    </div>
  </div>
</div>

<!-- Formulaire de réinitialisation du mot de passe -->
<form *ngIf="showResetPasswordForm">
  <div class="form-group">
    <label for="resetEmail">Entrez votre email :</label>
    <input type="email" id="resetEmail" name="resetEmail" [(ngModel)]="resetPasswordEmail" required />
  </div>
  <button (click)="onResetPasswordSubmit()">Envoyer la demande de réinitialisation</button>
  <p>{{ resetPasswordErrorMessage }}</p>
  <div *ngIf="resetPasswordSuccess">
    <!-- Message de succès de réinitialisation du mot de passe -->
    <p>Votre demande de réinitialisation du mot de passe a été envoyée avec succès.</p>
    <p>Veuillez vérifier votre boîte de réception pour les instructions de réinitialisation du mot de passe.</p>
  </div>
</form>
