/* Styles pour le composant de modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

h2 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Styles pour le bouton de création */
.login-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.login-button button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  color: #555;
}

.login-button .login-icon {
  font-size: 24px;
  margin-right: 5px;
}
