<div class="modal">
  <div class="modal-content">
    <form class="form">
      <h2>Create Profile</h2>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" formControlName="firstname" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required />
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="button" (click)="onRegisterSubmit()">Create Profile</button>
      <button (click)="onClose()">Close</button>

      <div *ngIf="userForm.get('email')?.value && isValidEmail(userForm.get('email')?.value)">
        <div *ngIf="emailExists" class="warning-message">Email already exists. Please choose a different email.</div>
        <button (click)="onForgotPassword()">Mot de passe oublié ?</button>
      </div>
    </form>
  </div>
</div>

<!-- Formulaire de réinitialisation du mot de passe -->
<form *ngIf="showResetPasswordForm">
  <div class="form-group">
    <label for="resetEmail">Entrez votre email :</label>
    <input type="email" id="resetEmail" name="resetEmail" [(ngModel)]="resetPasswordEmail" required />
  </div>
  <button (click)="onResetPasswordSubmit()">Envoyer la demande de réinitialisation</button>
  <p>{{ resetPasswordErrorMessage }}</p>
  <div *ngIf="resetPasswordSuccess">
    <!-- Message de succès de réinitialisation du mot de passe -->
    <p>Votre demande de réinitialisation du mot de passe a été envoyée avec succès.</p>
    <p>Veuillez vérifier votre boîte de réception pour les instructions de réinitialisation du mot de passe.</p>
  </div>
</form>
