@use '../../style/_variables' as *;
@use '../../style/_animation' as *;

h1 {
  text-align: center;
  font-size: 50px;
}
ul {
  list-style-type: none;
}
h2 {
  margin: 2px 0 0 0;
}
span {
  color: $primaryColor;
  font: inherit;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-text{
  max-width: 850px;
  margin: 0 1vh;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  &_member {
    border-radius: 50%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    max-width: 300px;
    &:hover {
      transform: translatex(-10px);
      border: solid 2px rgb(255, 136, 0);

    }
    & img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    &--info {
      display: flex;
      flex-direction: column;
      align-items: center;
      & img {
        width: 23px;
        height: 23px;

        margin-left: 4px;
      }
      & p {
        margin: 3px;
      }
      & a {
        margin-right: 0;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        padding: 0rem 1rem;
        border: 1px solid $primaryColor;
        border-radius: 100px;
        color: black;
        background-color: #ffff;
        text-align: center;

        transition: all 250ms;
        &:hover {
          box-shadow: rgba($primaryColor, 0.35) 0 -25px 18px -14px inset, rgba($primaryColor, 0.25) 0 1px 2px,
            rgba($primaryColor, 0.25) 0 2px 4px, rgba($primaryColor, 0.25) 0 4px 8px,
            rgba($primaryColor, 0.25) 0 8px 16px, rgba($primaryColor, 0.25) 0 16px 32px;
          animation: button 0.4s ease-in both;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.container {

  }
}
