@use '../../style/mixin' as *;
@use '../../style/animation' as *;
@use '../../style/variables' as *;

.page-container {
    height: 100%; /* Make sure the body takes up the full height of the viewport */
    margin: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contents {
    position: relative;

    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    &_img{
      max-width: 250px;
      animation: logo 1.6s ease-in-out;
    }

    & .button{

      margin-top: 1rem;
      margin-left: 5rem;
      padding: 1.5rem 1rem;
      @include button;
      &:hover{
        @include buttonHover;
      }
    }

  }

  :host {
    display: block;
    position: relative;
  }

:host::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  background-image: url("/assets/backgroundPage/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


