html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .pages {
    flex: 1;
    overflow: hidden;
    position: relative;
  }

