@use '../../style/variables' as *;
.card{
    gap: 10px;
    width: 245px;
    position: relative;
    transform: scale(1);
    transition: transform 0.6s ease-in-out; 
    &:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out; 
    }
     &_fav{
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: white;
            font-size:24px;
            cursor:pointer;
            width:38px; 
            height:38px;
            border-radius:50%;
            opacity: 0.8;
            border: none ;
            &:hover , &--active {
                opacity: 1;
            
             color: $primaryColor;
            }
        }
    &_img{
        position: relative;
        &--img{
        width: 100%;
        
        aspect-ratio: 16/10;
        object-fit: cover;
        border-radius: 25px;
        }
       

    }
    &_information{
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 0px  0px 25px 25px ;
        padding: 1px;
        overflow: hidden;

        height: 250px;
        flex-direction: column;
        padding: .5vh .2vh;
        &--title{
            margin :0;
            height: 60px;
           
        } 
        &--description{
        text-overflow: ellipsis;
        margin: 0;
    }
    

        &--price-duree{
            & p{
                margin: 5px;
                
            }
            display: flex;
            align-self: normal;
            justify-content: space-evenly;
        }

    }
   
}
