<article class="card">
  <a routerLink="{{ recipe.recipeSlug }}">
    <section class="card_img">
      <img class="card_img--img" [src]="recipe.imageUrl" alt="" />
    </section>
    <section class="card_information">
      <h2 class="card_information--title">{{ converter.getFormattedRecipeName(recipe.recipeName) }}</h2>

      <div class="card_information--price-duree">
        <p>{{ converter.getPriceSymbol(recipe.price) }}</p>
        <p>{{ converter.calculateTotalTime(recipe) }}</p>
      </div>
      <p class="card_information--description">{{ recipe.description }}</p>
    </section>
  </a>
  <button
    [ngClass]="{ 'card_fav--active': favorite }"
    class="card_fav"
    (click)="addFavorite(recipe.id)"
  >
    <fa-icon [icon]="faStarSolid" *ngIf="favorite"></fa-icon>
    <fa-icon [icon]="faStar" *ngIf="!favorite"></fa-icon>
  </button>
</article>
