@use '../../style/variables' as *;

@use '../../style/mixin' as *;
// animation
#nav-logo {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: $secondaryColor;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: $paddingPagesBar ;

}

// Brand --------------------------------

.chefs-compass {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.compass-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

.nav-logo {
  height: 50px;
}

.slogan {
  color: $primaryColor;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

// Search --------------------------------

.search {
    align-self: center;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    flex:1;

    &_module {
      position: relative;
      display: flex;
      align-items: center;
      left: 46px;
      &--input {
        padding: 13px;
        border: 2px solid gray;
        border-radius: 50px;
        font-size: 16px;
        max-width: 250px;
        transition: border-color 0.3s ease;
        animation: translateSearch 1s ease-in-out both;
        &.search_module-button{
          z-index: -1;
        }
        &:focus   {
          border: 2px solid $primaryColor;
          outline: none;
        }
      }
      &-button{
        position: relative;
        background-color: white;
        border: 1px solid gray;
        border-radius: 73px;
        padding: 20px;
        font-size: 11px;
        z-index: 1;
        cursor: pointer;
        overflow: hidden;
        &-icon {

        }
        &:hover {
          background-color: lighten(gray,30%);
        }
      }
    }
  &_burger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    height: 20px;
    left: 6%;
    top: 95%;
    &--nav{
      display: flex;
    }
    &--selected{
      display: flex;
      flex-direction: column;
      & select{
        font-size: 1.1rem;
      }
    }
    &--unselected{
          display: flex;
          flex-wrap: wrap;
          & button{
            @include buttonUnselected;
          }
        }
    &--size {
      max-height: 300px;
       max-width: 340px;
      display: flex;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      align-items: flex-start;
      background: white;
      padding: 4px 5px ;
    }
   &--button{
     border: none;
     border-radius: 4px;
     font-size: 14px;
     cursor: pointer;
     background: white;
     position: absolute;
     left: 9%;
     top: 38%;
     animation: translateBurger 0.8s ease-in-out both;
    &-icon {
      color: grey;

    &:hover {
      color: $primaryColor;

    }
   }
   }
  }

}

.login-button {
  display: flex;
  align-items: center;
  margin-left: 10px;

  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    color: #555;

    .login-icon {
      font-size: 24px;
      margin-right: 5px;
    }
  }
}

// Button menu
.links_menu {
  text-wrap: nowrap;
  &--login{
    &-button{
      @include button;
    }
  }
  & ul {
    display: flex;
    gap: 30px;
    text-align: center;
    list-style: none;
    padding: 40px;
    align-items: center;
    white-space: nowrap;
    margin: 0;
  }
  & .links_menu-icon{
    font-size: 30px;
  }
  &  p {
    font-size: 20px;
  }
  & li {
    background-color: $secondaryColor;
    border: none;
    &:hover {
      .links_menu-icon {
        color: lighten($primaryColor, 10%);

      }
    }
  }
  &-icon {
    color: grey;


  }

}
////////////// Responive design

@media (max-width: 768px) {
  .chefs-compass {
    display: none;
  }
  header {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: $secondaryColor;
    justify-content: center;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0;
  }
  header .nav-logo {
    display: none;
    height: 90px;
    padding: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    justify-content: center;
  }
  .slogan {
    display: none;
  }
  .links_menu {
    & ul {
      display: flex;
      bottom: 5px;
      padding: 1vh;

    }
    & p {
      display: none;
    }
    &-icon {
      font-size: 50px;
    }
  }


  .search{
    position: fixed;
    bottom: 100px;
    right: 0;
  }
}
ul{
  padding: 0;
}
li{
  margin: 0px 4px;
}

