<header>
  <div class="chefs-compass">
    <a routerLink="/recipes" class="compass-link">
      <img id="nav-logo" class="nav-logo" src="/assets/icon/NavBar/main-logo.svg" alt="home-link-picture" />
      <p class="slogan">Global flavours from your kitchen</p>
    </a>
  </div>

  <div class="search">
    <div class="search_module">
      <input
        class="search_module--input"
        type="text"
        [(ngModel)]="searchQuery"
        (input)="searchRecipes()"
        placeholder="Dishes,ingredients..."
      />
    </div>
    <fa-icon class="search_module-button-icon" [icon]="faMagnifyingGlass"></fa-icon>
    <div class="search_burger" [ngStyle]="{ height: showNav ? '50px' : '26px' }">
      <div class="search_burger--size" [ngStyle]="{ 'min-height': showNav ? '110px' : '0px' }">
        <button class="search_burger--button" (click)="toggleNav()">
          <fa-icon
            [ngStyle]="{ color: showNav ? '#F96B11FF' : '' }"
            class="search_burger--button-icon"
            size="lg"
            [icon]="faBars"
          ></fa-icon>
        </button>
        <div class="search_burger--nav" *ngIf="showNav">
          <div class="search_burger--selected">
            <select [(ngModel)]="selectedCountries" (ngModelChange)="countriesSelected(selectedCountries)">
              <option value="" disabled selected hidden>pays</option>
              <option *ngFor="let country of countries" [value]="country.countryName">{{ country.countryName }}</option>
            </select>
            <select place [(ngModel)]="selectedAllergens" (ngModelChange)="allergensSelected(selectedAllergens)">
              <option value="" disabled selected hidden>allergens</option>
              <option *ngFor="let allergen of allergens" [value]="allergen.allergenName">
                {{ allergen.allergenName }}
              </option>
            </select>
            <select [(ngModel)]="selectedDiets" (ngModelChange)="dietsSelected(selectedDiets)">
              <option value="" disabled selected hidden>diets</option>
              <option *ngFor="let diet of diets" [ngValue]="diet.dietName">{{ diet.dietName }}</option>
            </select>
          </div>
          <ul class="search_burger--unselected">
            <li (click)="countriesSelected(countries)" *ngFor="let countries of countriesList">
              {{ countries }}
              <b>x</b>
            </li>
            <li (click)="allergensSelected(allergens)" *ngFor="let allergens of allergensList">
              {{ allergens }}
              <b>x</b>
            </li>
            <li (click)="dietsSelected(diets)" *ngFor="let diets of dietsList">
              {{ diets }}
              <b>x</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="links_menu">
    <ul>
      <div class="links_menu--login" *ngIf="!authUserService.isLoggedIn()">
        <lucide-icon class="login-icon" name="user"></lucide-icon>
        <ng-template #loginButton>
          <button (click)="showLoginModal()">Login</button>
        </ng-template>
        <li class="links_menu--login-button" (click)="showLoginModal()">
          <p>Login</p>
        </li>
      </div>

      <li class="links_menu--login" *ngIf="authUserService.isLoggedIn()">
        <div>
          <lucide-icon class="login-icon" name="user" style="color: green"></lucide-icon>
          <button class="links_menu--login-button" (click)="logout()">Logout</button>
        </div>
        <p>Hello, Chef! {{ userFirstName }}</p>
      </li>
      <li>
        <a>
          <lucide-icon class="links_menu-icon" name="chef-hat" [size]="screenWidth < 768 ? 45 : 28"></lucide-icon>
          <p>Community</p>
        </a>
      </li>
      <li>
        <a routerLink="favourites">
          <lucide-icon class="links_menu-icon" name="star" [size]="screenWidth < 768 ? 45 : 28"></lucide-icon>
          <p>Favourites</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/add-recipe']" rel="noopener" title="About" class="about-link logo">
          <lucide-icon class="links_menu-icon" name="plus" [size]="screenWidth < 768 ? 45 : 28"></lucide-icon>
          <p>Add Recipes</p>
        </a>
      </li>
      <li>
        <a routerLink="/recipes">
          <lucide-icon class="links_menu-icon" name="utensils" [size]="screenWidth < 768 ? 45 : 28"></lucide-icon>
          <p>All Recipes</p>
        </a>
      </li>
    </ul>
  </nav>
</header>
