@use '../../style/variables' as *;

header {
  background-color: $secondaryColor;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: $paddingPagesBar ;
}

// Brand --------------------------------

.chefs-compass {
  display: flex;
  align-items: center;
}

.compass-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-logo {
  height: 50px;
}

.slogan {
  color: $primaryColor;

}

// Search --------------------------------

.search {
  align-self: center;
    &_module {
      position: relative;
      display: flex;
      align-items: center;
      & input {
        padding: 13px;
        border: 2px solid #ccc;
        border-radius: 25px;
        font-size: 16px;
        width: 250px;
        transition: border-color 0.3s ease;
        &:focus {
          border-color: #007bff;
        }
      }
      &-button{
        position: relative;
        background-color: $secondaryColor;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
        right: 34px;
        &-icon {
          position: relative;
          right: 5px;
          color: gray;
        }
        &:hover {
          background-color: gray;
        }
      }
    }
  &_burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    right: 13px;
    color: grey;
      }
}


// Button menu
.links_menu {
  & ul {
  display: flex;
  align-items: baseline;
  gap: 30px;
  text-align: center;
  list-style: none;
    margin: 0;
  }
  & li {
    background-color: $secondaryColor;
    border: none;
    &:hover {
      .links_menu-icon {
        color: lighten($primaryColor, 10%);
      }
    }
  }
  &-icon {
    color: grey;


  }

}
////////////// Responive design

@media (max-width: 768px) {
  header {
    height: 90px;
    justify-content: flex-start;
  }
  .slogan {
    display: none;
  }
  .links_menu ul {
    display: flex;
    right: 0;
    width: 100%;
    bottom: 5px;

  }
}
