<div class="modal">
  <div class="modal-content">
    <h2>Login</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required />
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit">Login</button>
      <button *ngIf="!authUserService.isCreatedIn()" (click)="createOpenUser()">Create</button>
      <button (click)="onClose()">Close</button>
    </form>
  </div>
</div>
