<div class="modal">
  <div class="modal-content">
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required />
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>

    <ng-template #loginButton>
      <button (click)="createOpenUser()">Create</button>
    </ng-template>
    <button *ngIf="!authUserService.isCreatedIn()" (click)="showCreateModal()"></button>
    <button (click)="onClose()">Fermer</button>
  </div>
</div>
