
$primaryColor : #F96B11;
$secondaryColor : rgba(255, 255, 255);
$paddingPageRoute : 6vh 3vh;
$paddingPagesBar :  0 2vh;
$colorGlass : rgba(255, 255, 255, 0.6);
$MarginMobile :  80px;
$MarginMobile :  80px;
