/* You can add global styles to this file, and also import other style files */
@use './app/style/_variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');


:root {

  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3,h4,h5,h6,b ,label{
    font-family: 'Fredoka', sans-serif; /*Title Font*/
     }
*{
    font-family: 'Darker Grotesque', sans-serif; /*Text Font*/
}
b{
  color: $primaryColor;
}
p, li ,textarea, input, select, option, button{
    font-size: 1.2rem;
  margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

span{
    font-size: 1.2rem;
    font-weight: bold;
}
