/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondardy-text-color: #F96B11;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fredoka', sans-serif; /*Title Font*/ 
     }
*{
    font-family: 'Darker Grotesque', sans-serif; /*Text Font*/ 
}
p{
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: black;
}