
@use '../../style/variables' as *;
@use '../../style/mixin' as *;
.allrecipes{
    margin-right:1vh ;
    padding:$marginPage ;
    &_container{
        position: relative;
        &--card{
        display: flex;
        position: relative;
        gap: 2%;
        }
    &--buttons{
    &--right{
        position: absolute;
        top:0%;
        right: 0%;
        height: 98%;
       
     
    }
    &--left{
        position: absolute;
        top:0%;
        height: 98%;
        
    
    }
}

    }
}

.button_selection{
    @include button;
    border: none;
    opacity: 0.9;
    &:hover{
        @include buttonHover;
        opacity: 0.5;
        img{
            filter: brightness(50);        
        
        }
    }
}

@media (max-width: 768px) {
.allrecipes {
    margin-top: 50px;

}

}

