<div class="allrecipes">
    <div class="allrecipes_container">
        <h2 class="allrecipes_container">entrich</h2>
        <div class="allrecipes_container" >
            <div class="recipe_container--card" *ngFor="let recipe of appetizers">
              <h3>{{recipe.recipe_name}}</h3>
              <p>{{recipe.recipe_price}}</p>
            </div>
        </div>
    </div>
    <div class="allrecipes_container">
        <h2 class="allrecipes_container">desserts</h2>
        <div class="allrecipes_container" >
            <div class="recipe_container--card" *ngFor="let recipe of sideDishes">
              <h3>{{recipe.recipe_name}}</h3>
              <p>{{recipe.recipe_price}}</p>
            </div>
        </div>
    </div>
    <div class="allrecipes_container">
        <h2 class="allrecipes_container">entrich</h2>
        <div class="allrecipes_container" >
            <div class="recipe_container--card" *ngFor="let recipe of mainDishes">
              <h3>{{recipe.recipe_name}}</h3>
              <p>{{recipe.recipe_price}}</p>
            </div>
        </div>
    </div>

    <div class="allrecipes_container">
        <h2 class="allrecipes_container">entrich</h2>
        <div class="allrecipes_container" >
            <div class="recipe_container--card" *ngFor="let recipe of breakfasts">
              <h3>{{recipe.recipe_name}}</h3>
              <p>{{recipe.recipe_price}}</p>
            </div>
        </div>
    </div>
    <div class="allrecipes_container">
        <h2 class="allrecipes_container">entrich</h2>
        <div class="allrecipes_container" >
            <div class="recipe_container--card" *ngFor="let recipe of desserts ">
              <h3>{{recipe.recipe_name}}</h3>
              <p>{{recipe.recipe_price}}</p>
            </div>
        </div>
    </div>
</div>

